*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
header {
    background-image: linear-gradient(rgba(0, 0, 2, 0.5), rgba(1, 2, 0, 7)), url(./assets/bavaria-beer-fest-beer-tents-crowd.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}

/* NAVBAR */

.nav {
    margin: 0 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
    color: #fff;
    font-family: 'Supreme', sans-serif;
}

.nav-items a{
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    transition: 0.3s all;
}
.nav-items a:hover {
    background-color: #fff;
    color: #000;
}


/* HERO SECTION  */ 
.hero {
    max-width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    padding: 40px;
    /* border: 1px solid #fff; */
    color: #fff;  
}
.hero h1 {
    font-size: 52px;
    font-family: 'Satoshi', sans-serif;
}
.hero span {
    background-color: #fff;
    color: #000;
    border-radius: 700px 30px; 
}
.hero p {
    margin-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.hero button {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 60px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    transition: 0.3s all;
}
.hero button:hover {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
}

/* MAIN SECTION  */
main {
    background-color: #000 ;
    color: #fff;
    min-height: 100vh;
}